* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --first-color:  rgb(243, 243, 243);
    --second-color: rgb(56, 55, 146);
    --third-color: #fff;

}

body {
    background-color: var(--first-color);
}

header{
    width: 100%;
    height: 70px;
    background-color: var(--second-color);
    border: 1px solid  var(--second-color);
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

nav {
    margin: 22px auto;
    /* background-color: cornsilk; */
    grid-column-start: 2;
    
    
}

a {
    text-decoration: none;
    color: var(--third-color);
    transition: all, 0.3s;
    font-size: 16px;
    margin-right: 40px ;
}

a:hover {
    opacity: 0.5;
}

a.btn {
    display: inline-block;
    color: var(--third-color);
    background-color: var(--second-color);
    text-decoration: none;
    font-size: 15px;
    padding: 12px 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    border: 2px solid var(--second-color);
    transition: all 0.5s;
    width: 200px;
    text-align: center;
}

.btn:hover {
    color: var(--second-color);
    background-color: var(--first-color);
    cursor: pointer;
}

.add-new-wrap {
    width: 400px;
    height: 300px;
    margin: 100px auto;
    border: 4px solid var(--third-color);
}