@import './button.css';

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --first-color:  rgb(187, 209, 218);
    --second-color: rgb(71, 70, 116);
    --third-color: rgb(255, 255, 255);
    --accent-color: rgb(0, 204, 255);
    --happy-color: rgb(73, 26, 160);
    --danger-color: rgb(145, 26, 115);
}

body {
    background-color: var(--first-color);
}

header{
    width: 100%;
    height: 70px;
    background-color: var(--second-color);
    border: 1px solid  var(--second-color);
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

nav {
    margin: 22px auto;
    grid-column-start: 2;   
}

 a  {
    text-decoration: none;
}

nav a  {
    color: var(--third-color);
    transition: all, 0.3s;
    font-size: 16px;
    margin-right: 40px ;
}

a:hover {
    opacity: 0.5;
}

.error{
    color: var(--accent-color);
}

.add-new-wrap {
    width: 400px;
    height: 200px;
    margin: 100px auto;
    border: 2px solid var(--third-color);
    text-align: center;
}

.add-new-wrap h2 {
    color: var(--second-color);
    margin: 30px 0;
}

/* ADD NEW ACC STYLE */

.form-wrap {
    width: 400px;
    height: 380px;
    border: 2px solid var(--third-color);
    margin: 40px auto;
    text-align: center;
}

.form-wrap h3 {
    font-size: 18px;
    color: var(--second-color);
    margin: 20px 0 10px 0;
}

.form-wrap form {
    width: 70%;
    margin: 10px auto;
    
}
.form-wrap input {
    display: inline-block;
    width: 100%;
    height: 20px;
    margin: 0 0 10px 0;
    overflow: hidden;
    border: none;
    outline: none;
}

.form-wrap label {
    display: inline-block;
    width: 100%;
    font-size: 14px;
}

.form-wrap button {
    display: inline-block;
    margin-top: 10px;
}

/* TABLES */

table {
    border-collapse: collapse;
    width: 80%;
    margin: 40px auto;
    /* border: solid 2px var(--third-color); */
    background-color: var(--third-color);
    font-size: 14px;
    
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    height: 30px;
  }
  
  tr:nth-child(even){background-color: #e6e6e6}
  
  th {
    background-color: var(--second-color);
    color: white;
  }

  .money-operation {
      width: 80%;
      margin: 20px auto;
      border: solid 2px var(--third-color);
      text-align: center;
  }

  .money-operation label {
      margin-top: 20px;
    display: inline-block;
    width: 100%;
  }

  .money-operation input {
    display: block;
    margin: 20px auto;
  }

  .money-operation button {
    display: block;
    margin: 0 auto 20px;
  }
  
/* LINKS */

    a.add {
        color: var(--happy-color);
    }

    button.delete.btn {
        background-color: var(--danger-color);
        padding: 2px 7px;
        border: none;
        font-size: 12px;
    }

    button.delete.btn:hover{
        color: var(--third-color);
        opacity: 0.8;
        border: solid 1px rgb(107, 23, 23);
    }

    a.cashout {
        color: var(--accent-color);
    }
